/* benefits */
.benefits {
  display: block;
  gap: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.benefits__item {
  min-width: auto;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.benefits__icon-div {
  display: flex;
  min-width: 100%;
  height: 120px;

  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: $main-trhid-bg;
  border-radius: 4px;
}

.benefits__text,
.benefits__title {
  font-size: 14px;
}

.benefits__title {
  @extend %title;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.benefits__text {
  margin-top: 10px;
  line-height: 1.71;
}