/* Clients  */

.clients {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.clients__item {

  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    flex-wrap: nowrap;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;

  border: 1px solid $border-color-clients;
  border-radius: 4px;
  fill: $border-color-clients;
  transition: fill $animations, border-color $animations;

  &:hover,
  &:focus {
    fill: $main-active-color;
    border-color: $main-active-color;
  }
}