/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $main-sec-bg;
  color: $main-sec-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-item__socblock {
  // fill: $main-sec-color;
}

.footer-address {
  color: $footer-sec-color;
  font-style: normal;
  margin-top: 20px;
}

.footer-address__list {
  &:not(:first-child) {
    margin-top: 9px;
  }

  &:first-child {
    color: $main-sec-color;
  }
}

.footer-address__link {
  transition: color $animations;

  &:hover,
  &:focus {
    color: $main-active-color;
  }
}

.footer-item {

  // display: flex;
  // align-items: baseline;
  @media screen and (max-width: 1199px) {
    &>*:not(:last-child) {
      margin-bottom: 60px;
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.footer-item__address {


  @media screen and (min-width: 768px) {
    // margin-left: 61px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
  }
}

.footer-item__logo {
  color: $main-logo-color-footer;
}

.footer-item__socblock {
  @media screen and (min-width: 768px) {
    // margin-left: 165px;
    // margin-right: 74px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-right: 93px;
    flex-grow: 1;
  }
}

.footer-item__form-subscribe {
  // display: flex;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  // text-align: center;

  // @media screen and (min-width: 1200px) {
  //   display: flex;
  //   margin-left: 93px;
  //   align-items: flex-end;
  //   justify-content: flex-start;
  // }
}

.footer-item__social {
  margin-top: 20px;
}