.form-item__subscribe {
  display: flex;
  margin-left: 93px;
  align-items: flex-end;
  justify-content: flex-start;
}

.form-subscribe__field {
  width: min-content;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $main-sec-color;
}

.form-subscribe__input {
  margin-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border-color: $footer-form-border;
  color: $main-sec-color;
  font-size: 16px;
  line-height: 1.25;
}

.form-subscribe__input::placeholder {
  color: $footer-form-color;
  font-size: 16px;
  line-height: 1.25;
}

.form-subscribe__button {
  display: flex;
  margin-top: 0;
  margin-left: 12px;
  align-items: center;
}

.form-subscribe__icon {
  margin-left: 10px;
  fill: $main-sec-color;
}
