.header {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid $header-border-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $main-text-second-color;
}

.header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    height: 60px;
  }

  @media screen and (min-width: 768px) {}
}

.header__logo {
  @media screen and (max-width: 767px) {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header__menu {
  z-index: 1;

  @media screen and (max-width: 767px) {}
}

.header_menu-button {
  margin-left: auto;
  display: inline-flex;

  @media screen and (min-width: 768px) {
    display: none;
  }
}