.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  padding: 40px;
  max-width: 450px;
  width: 100%;
  transform: translate(-50%, -50%) scale(1);
  text-align: left;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $main-bg-color;
  border-radius: 4px;

  @media screen and (min-width: 768px) {}

  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  transition: transform $animations;
}