.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--no-padding-top {
    padding-top: 0;
  }
  &--padding-bot {
    padding-bottom: 0;
  }

  &--no-margin-top {
    margin-top: 0;
  }
  &--no-margin-bot {
    margin-bottom: 0;
  }
  &--team {
    background-color: $main-trhid-bg;
  }
}

.section__title {
  @extend %title;
  margin-bottom: 50px;
}
