/* social block  */
.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__item {
  // content: '';
}

.social__link {
  display: flex;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  border-color: transparent;
  fill: currentColor;

  justify-content: center;
  align-items: center;

  .team__social & {
    color: $border-color-clients;
  }

  .footer-item__social & {
    color: $main-sec-color;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:hover {
    color: $main-sec-color;
    background-color: $main-active-color;
  }

  transition: background-color $animations,
  color $animations;
}

.social-small {
  display: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: $main-active-color;

  @media screen and (max-width: 767px) {
    display: flex;

    @media screen and (max-width: 420px) {
      font-size: 12px;
    }
  }

  .social-small__item {
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid $border-color-form;
    }

    &:not(:first-child) {
      padding-left: 10px;
    }
  }
}

// .social-small__link {
//   display: block;
// }