/* social block  */
.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__item {
  // content: '';
}

.social__link {
  display: flex;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  border-color: transparent;
  fill: currentColor;

  justify-content: center;
  align-items: center;

  .team__social & {
    color: $border-color-clients;
  }
  .footer-item__social & {
    color: $main-sec-color;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:hover {
    color: $main-sec-color;
    background-color: $main-active-color;
  }

  transition: background-color $animations, color $animations;
}

.social-small {
  display: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;

  letter-spacing: 0.02em;

  color: $main-active-color;

  border: 1px solid red;

  @media screen and (max-width: 767px) {
    // display: flex;
    display: block;
  }
  .social-small__item {
    &:not(:last-child) {
      margin-right: 10px;
      // border-right: 10px solid red;
    }
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.social-small__link {
  // display: block;
}
